html, body {
    padding: 0;
    margin: 0;
}
/*  
    font-family: 'DM Serif Display', serif;

    font-family: 'DM Serif Text', serif;

    font-family: 'Roboto', sans-serif;
*/
header {
    display: flex;
    background-image: url(../img/header.jpg);
    background-position: right bottom;
    background-size: cover;
    letter-spacing: 1px;
    color: white;
    padding: 1vw;
    font-size: larger;
    justify-content: space-between;
}
nav {
    max-width: 20vw;
    height: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.528);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.885);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav>a {
    padding: 5px;
    transition: all .3s ease-in-out;
    margin: 10px;
}
nav>a:visited {
    color: white;
    text-decoration: none;
}
nav>a:hover {
    transform: translate(0px, -2px);
    color: black;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(246, 246, 246, 0.425);
    border-radius: 1px;
    cursor: pointer;
}
ul {
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.528);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.885);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
section {
    padding: 20px;
    height: 1000px;
}
section>h1 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
}
section>hr {
    margin-bottom: 20px;
    width: 70vw;
    height: 10px;
    background-color: rgb(217, 181, 23);
    border: none;
}
section>div {
    background-image: url(../img/marcus.webp);
    min-height: 200px;
    background-attachment: fixed;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
section>article>h2 {
    font-size: 40px;
}
section>article>p {
    font-family: 'Roboto', sans-serif;;
    width: 80vw;
    text-align: left;
    line-height: 200%;
    font-size: large;
}
section>article>p::first-letter {
    font-size: 50px
}